.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
  /* background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
  /* color of the scrollbar thumb */
  border-radius: 10px;
  /* roundness of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000;
  /* hover effect for the scrollbar thumb */
}

.z-index{
  z-index: 9;
}